<div class="container"> 
    <Strong>{{eventname}} Event</Strong>
</div>


<table class="table">
    <thead class="thead-dark"> 
    &nbsp;
      <tr>
        <th scope="col">Item Id</th>
        <th scope="col">Item Name</th>
        <th scope="col">Presenter Name</th>
        <th scope="col">Event Id</th>  
        <th scope="col">Give Score</th> 
        <th scope="col">View Your Score</th>
      </tr>
    </thead>
    <tbody> 
    &nbsp;
      <tr *ngFor = "let i of itemForm;"> 
        <th scope="row">{{i.itemid}}</th>
        <td>{{i.itemname}} </td>
        <td>{{i.presentername}}</td>
        <td>{{i.eventid}}</td> 
        <td> 
          <div *ngIf="scoreItemidArray.indexOf(i.itemid) > -1"> Score Already submitted</div>
          <a [routerLink]="['/score', i.itemid]" class="btn btn-danger" role="button" routerLinkActive="active" *ngIf="scoreItemidArray.indexOf(i.itemid) == -1" (click)="giveScore(i.itemid)"> Give Score </a>
        </td> 
        <td>
          <a [routerLink]="['/score', i.itemid]" class="btn btn-success" role="button" routerLinkActive="active" *ngIf="scoreItemidArray.indexOf(i.itemid) > -1" (click)="viewScore(i.itemid)"> View Score </a> 
          <div *ngIf="scoreItemidArray.indexOf(i.itemid) == -1"> Submit your Score to View</div>
        </td>
      </tr>
    </tbody>
  </table>
