<div>
      <h2>Welcome <strong>{{firstName}} {{lastName}} </strong></h2>   
      <strong style="margin-left: 40%; width:fit-content ;">Login Status : Active</strong> 
      <strong style="margin-left: 10%; width:fit-content ;"> Login Time:  {{loginDate}}   {{loginTime}}</strong>  
      <button class="btn btn-danger"  (click)="logOut()" style="margin-left: 10%; width: fit-content;">Log Out</button>
</div>


<hr>


<!-- Sample Running table --> 
<div> 
    &nbsp;
    <div class="container" style="margin-left: 40%; width: fit-content">
        <h5><strong> Running Events</strong></h5>
    </div> 
    &nbsp; 
    <div class="container" *ngIf="!runningFlag">
        <strong>No Running Events Available.</strong>  &nbsp;
    </div>
    <table class="table" *ngIf="runningFlag">
        <thead class="thead-dark"> 
         &nbsp;
          <tr>
            <th scope="col">Event Id</th>
            <th scope="col">Event Name</th>
            <th scope="col">Event Date</th>
            <th scope="col">Start Time</th> 
            <th scope="col">End Time</th>
            <th scope="col">Organizer Name</th> 
            <th scope="col">Account Name</th>     
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody> 
        &nbsp;
          <tr *ngFor = "let e of eventData;"> 
            <th scope="row" *ngIf="e.eventflag == 'R'">{{e.eventid}}</th>
            <td *ngIf="e.eventflag == 'R'">{{e.eventname}} </td>
            <td *ngIf="e.eventflag == 'R'">{{e.eventdate}}</td>
            <td *ngIf="e.eventflag == 'R'">{{e.starttime}}</td> 
            <td *ngIf="e.eventflag == 'R'">{{e.endtime}}</td>
            <td *ngIf="e.eventflag == 'R'">{{e.organizername}}</td>
            <td *ngIf="e.eventflag == 'R'">{{e.accountname}}</td> 
            <td *ngIf="e.eventflag == 'R'"> <a [routerLink]="['/items', e.eventid]" class="btn btn-success" role="button" routerLinkActive="active" (click)="joinEvent(e.eventid)">Join event</a> </td> 
          </tr>
        </tbody>
      </table>
</div> 

<!-- Sample Upcoming Scheduled Events --> 
<div>  
    &nbsp;
    <div class="container" style="margin-left: 38%; width: fit-content;" >
        <h5><strong> Upcoming Scheduled Events </strong></h5>
    </div> 
    &nbsp; 
    <div class="container" *ngIf="!scheduledFlag">
        <strong> No Upcoming Events have been scheduled </strong> 
        &nbsp;
    </div>
    <table class="table" *ngIf="scheduledFlag">
        <thead class="thead-dark"> 
        &nbsp;
          <tr>
            <th scope="col">Event Id</th>
            <th scope="col">Event Name</th>
            <th scope="col">Event Date</th>
            <th scope="col">Start Time</th> 
            <th scope="col">End Time</th>
            <th scope="col">Organizer Name</th> 
            <th scope="col">Account Name</th>             
          </tr>
        </thead>
        <tbody> 
        &nbsp;
          <tr *ngFor = "let e of eventData;"> 
            <th scope="row" *ngIf="e.eventflag == 'S'">{{e.eventid}}</th>
            <td *ngIf="e.eventflag == 'S'">{{e.eventname}} </td>
            <td *ngIf="e.eventflag == 'S'">{{e.eventdate}}</td>
            <td *ngIf="e.eventflag == 'S'">{{e.starttime}}</td> 
            <td *ngIf="e.eventflag == 'S'">{{e.endtime}}</td>
            <td *ngIf="e.eventflag == 'S'">{{e.organizername}}</td>
            <td *ngIf="e.eventflag == 'S'">{{e.accountname}}</td> 
          </tr>
        </tbody>
      </table>
</div> 


<!-- Sample Closed Events--> 
<div>  
    &nbsp;
    <div class="container" style="margin-left: 40%; width: fit-content;">
        <h5><strong>Closed Events</strong></h5>
    </div> 
    &nbsp; 
    <div class="container" *ngIf="!cancelledFlag">
        <strong> No Cancelled Events Available. </strong> 
        &nbsp;
    </div>
    <table class="table" *ngIf="cancelledFlag">
        <thead class="thead-dark"> 
            &nbsp;
          <tr>
            <th scope="col">Event Id</th>
            <th scope="col">Event Name</th>
            <th scope="col">Event Date</th>
            <th scope="col">Start Time</th> 
            <th scope="col">End Time</th>
            <th scope="col">Organizer Name</th> 
            <th scope="col">Account Name</th> 

          </tr>
        </thead>
        <tbody> 
            &nbsp;
          <tr *ngFor = "let e of eventData;"> 
            <th scope="row" *ngIf="e.eventflag == 'C'">{{e.eventid}}</th>
            <td *ngIf="e.eventflag == 'C'">{{e.eventname}} </td>
            <td *ngIf="e.eventflag == 'C'">{{e.eventdate}}</td>
            <td *ngIf="e.eventflag == 'C'">{{e.starttime}}</td> 
            <td *ngIf="e.eventflag == 'C'">{{e.endtime}}</td>
            <td *ngIf="e.eventflag == 'C'">{{e.organizername}}</td>
            <td *ngIf="e.eventflag == 'C'">{{e.accountname}}</td> 
          </tr>
        </tbody>
      </table>
</div> 


