<div class="container mt-5">
  <h1>Event Portal</h1>

  <a [routerLink]="['/register']" class="btn btn-success">Register</a>

  &nbsp;

  <a [routerLink]="['/login']" class="btn btn-primary">Login</a>

  &nbsp;

  <div>
    &nbsp;

    <router-outlet></router-outlet>
  </div>
</div>
<div class="container">
  <div class="container">
    <div *ngIf="errorFlag" class="alert alert-warning alert-dismissible">
      <strong>{{ errorMsg }}</strong>
    </div>
    <div *ngIf="successFlag" class="alert alert-success alert-dismissible">
      <strong>{{ successMsg }}</strong>
    </div>
  </div>

  <form [formGroup]="forgotpasswordForm">
    <div class="col-lg-4 mt-2">
      <label><strong>Email ID</strong></label>
      <input
        type="text"
        class="form-control"
        formControlName="emailId"
        placeholder="Enter Email ID"
      />
    </div>

    <div class="col-lg-4 mt-2">
      <label><strong>New Password</strong></label>
      <input
        type="text"
        class="form-control"
        formControlName="password"
        placeholder="Enter Password"
      />
    </div>

    <div class="col-lg-4 mt-2">
      <button
        class="btn btn-success"
        (click)="updatePassword()"
        [disabled]="forgotpasswordForm.invalid"
      >
        Update Password
      </button>
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <button class="btn btn-danger" (click)="goBack()">Back</button>
    </div>
  </form>
</div>
