<h4>{{eventname}} Event</h4> 

<table class="table">
    <thead class="thead-dark"> 
    &nbsp;
      <tr>
        <th scope="col">Idea Id</th>
        <th scope="col">Idea Name</th>
        <th scope="col">Presenter Name</th>
        <th scope="col">Event Id</th>  
        <!-- <th scope="col">Action</th>  --> 
        <th scope="col">Average Participant score</th>
        <th scope="col">Average Panelist Score</th>
        <th scope="col">Final Score</th>
      </tr>
    </thead>
    <tbody> 
    &nbsp;
      <tr *ngFor = "let u of userScoreArrayObject; let p of panelistScoreArrayObject; let i=index"> 
        <th scope="row">{{userScoreArrayObject[i].itemid}}</th>
        <td>{{userScoreArrayObject[i].itemname}} </td>
        <td>{{userScoreArrayObject[i].presentername}}</td>
        <td>{{userScoreArrayObject[i].eventid}}</td> 
        <!-- <td>
            <a [routerLink]="['/result', i.itemid]" class="btn btn-success" role="button" routerLinkActive="active"> Show Score </a>
        </td>  -->
        <td> {{userScoreArrayObject[i].userscore}}</td> 
        <td>{{panelistScoreArrayObject[i].panelistscore}}</td>
        <td>{{panelistScoreArrayObject[i].finalscore}}</td>
      </tr>
    </tbody> 
</table>

<br>

<a class="btn btn-danger" role="button" routerLinkActive="active" (click)="goBack()"> Go Back </a>


