<h4>{{eventname}} Event</h4> 

<table class="table">
    <thead class="thead-dark"> 
    &nbsp;
      <tr>
        <th scope="col">Item Id</th>
        <th scope="col">Item Name</th>
        <th scope="col">Presenter Name</th>
        <th scope="col">Event Id</th>  
        <th scope="col">Action</th> 
      </tr>
    </thead>
    <tbody> 
    &nbsp;
      <tr *ngFor = "let i of itemData;"> 
        <th scope="row">{{i.itemid}}</th>
        <td>{{i.itemname}} </td>
        <td>{{i.presentername}}</td>
        <td>{{i.eventid}}</td> 
        <td>
            <a [routerLink]="['/result', i.itemid]" class="btn btn-success" role="button" routerLinkActive="active"> Show Score </a>
        </td>
      </tr>
    </tbody>
</table>

<br>

<a class="btn btn-danger" role="button" routerLinkActive="active" (click)="goBack()"> Go Back </a>


