<h2 style="margin-left: 10%;margin-top: 5%;width: fit-content;">The Page that you are requesting is either not found or needs proper authentication !! </h2>
<div class="container">
    
    <h4 style="margin-left: 25%;margin-top: 5%;width: fit-content;">May be you would like to </h4>

    <ol style="margin-left: 25%;margin-top: 5%;width: fit-content;"> 
        <h6><li>Try to login using Proper Login Credentials </li></h6>
        <h6><li>Go To Login Page  <a [routerLink]="['/login']" class="btn btn-danger" role="button" routerLinkActive="active"> Login Page</a> </li> </h6> 
    </ol>
</div>